*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face{
    font-family: myfont;
    src: 
        url('../fonts/CustomCraft-Regular.otf') format('opentype'), 
        url('../fonts/CustomCraft-Regular.ttf') format('truetype'), 
        url('../fonts/CustomCraft-Regular.woff') format('woff');
}
body
{
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    float: left;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}

.fondito{
    background-color: #fff;
}
.fondo{
    background-color: beige;
}
.contenedor{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
@media only screen and (min-width: 600px){ /* TABLET */
    .col-t-1{width: 8.33%;}
    .col-t-2{width: 16.66%;}
    .col-t-3{width: 25%;}
    .col-t-4{width: 33.33%;}
    .col-t-5{width: 41.66%;}
    .col-t-6{width: 50%;}
    .col-t-7{width: 58.33%;}
    .col-t-8{width: 66.66%;}
    .col-t-9{width: 75%;}
    .col-t-10{width: 83.33%;}
    .col-t-11{width: 91.66%;}
    .col-t-12{width: 100%;}
}

@media only screen and (min-width: 1000px){ /* ESCRITORIO */
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}

    nav li{
        float: left;
    }
    .contenedor{
        width: 90%;
    }
    nav li a:hover b{
        display: inline;
    }
}
/*===NAV===*/
.logo{
    font-family: myfont;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    background-color:rgb(33, 145, 48);
}
.logo:hover{
    background-color:rgb(33, 145, 48);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    padding: 15px;
    height: 50px;
    background-color: rgb(33, 145, 48);
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
}
.activo{
    background-color:rgb(29, 75, 35);
    color: white;
    font-weight: bold;
    
}
.activo:hover{
    background-color: rgb(33, 145, 48);
    color: white;
}

li a:hover{
    background-color: rgb(29, 75, 35);
}
nav{
    background-color: rgb(33, 145, 48);
}
/*===HEADER===*/

.button{
    align-items: center;
    background-color: rgb(33, 145, 48);
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 50px;
    text-align: center;
    width: auto;
    
}
.button:hover {
    background-color: #fff;
    
    color: rgb(49, 163, 64);
    border: 2px solid rgb(49, 163, 64);
}

.btnEliminar{
    align-items: center;
    background-color: rgb(193, 35, 35);
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 50px;
    text-align: center;
    width: auto;
}
.btnEliminar:hover {
    background-color: rgb(206, 49, 49);
    color: #fff;
}


/*---CARTAS SHOWS---*/
.container
{
	position: relative;
	width: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .box
{
    border-radius: 10px;
	position: relative;
	width: 280px;
	height: 475px;
	margin: 50px 0;
	box-sizing: border-box;
	overflow: hidden;
    
    box-shadow: 3px 2px 3px rgba(46, 165, 30, 0.365), -3px -2px 3px rgba(46, 165, 30, 0.365);
}
.container .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #010c02bb;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.container .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;
}
.container .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container .box .content
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.container .box .content h2
{
	margin: 0;
	padding: 0;
}
.container .box .content a
{
	text-decoration: none;
	background: rgb(193, 35, 35);
	color: #fff;
	padding: 10px;
	display: inline-block;
    border-radius: 4px;
}
.container .box .content:hover a
{
	text-decoration: none;
    border: 2px solid rgb(193, 35, 35);;
	background: rgb(255, 255, 255);
	color: rgb(193, 35, 35);
	padding: 10px;
	display: inline-block;
    border-radius: 4px;
    transition-duration: 0.0001s;
}
.container .box .content h2,
.container .box .content p,
.container .box .content a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box:hover .content h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s
}
.container .box:hover .content p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}
.container .box:hover .content a
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s
}

/*=====MODAL=====*/
.modal-contenido{
    width:500px;
    height: 400px;
    padding: 10px 25px;
    margin: 3% auto;
    position: relative;
    border-radius: 8px;
}
.modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
}
#miModal:target{
    opacity:1;
    pointer-events:auto;
}

/*=====FORM=====*/
form{
    margin: auto;
    padding: 30px;
    background: #010c02bb;
    width: 100%;
    max-width: 550px;
    border-radius: 12px;
    color: white;
}
input{
    margin: 10px;
    color: white;
    background: #010c02bb;
    border: 1px solid white;
}


section{
    margin-bottom: 10px;
}

aside ul{
    list-style: none;
}
aside a{
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: rgb(33, 145, 48);
    border: 1px solid white;
}
aside a:hover{
    background-color: blue;
}
aside h2, section h2{
    text-align: center;
    color: rgb(150, 150, 150);
}


.article{
    margin-top: 25px;
    border: 1px solid rgb(33, 145, 48);
    border-radius: 7px;
}

article:nth-child(even){
    background-color: rgb(255, 255, 255);
}
article img{
    width: 100%;
    height: auto;
}
article h3{
    margin: 5px;
    text-align: center;
}
article p{
    text-align: justify;
}

footer p{
    padding: 10px;
    background-color: rgb(33, 145, 48);
    text-align: center;
    color: white;
}




